In [1]:
import pandas as pd
import numpy as np
import mlflow
from sklearn.feature_extraction.text import TfidfVectorizer
from pycaret.classification import setup, compare_models, tune_model, finalize_model, save_model, pull
from IPython.display import display

df_simc = pd.read_csv('Simc.csv', sep=',')
print(f"Wczytano dane. Kształt: {df_simc.shape}")

df_terc = pd.read_csv('Terc.csv', sep=',')
print(f"Wczytano dane. Kształt: {df_terc.shape}")

df_original = pd.read_csv('data.csv', sep=',')
print(f"Wczytano dane. Kształt: {df_original.shape}")

df_ulic = pd.read_csv('Ulic.csv', sep=',')
print(f"Wczytano dane. Kształt: {df_ulic.shape}")

Wczytano dane. Kształt: (102575, 8)
Wczytano dane. Kształt: (4264, 7)
Wczytano dane. Kształt: (196240, 51)
Wczytano dane. Kształt: (293077, 9)

In [2]:
df_simc.head(10)

,Id,VoivodeshipNumber,CountyNumber,CommunityNumber,KindNumber,Sym,Name,AdditionalName
0,306916,10,12,4,2,539561,Karkoszki,Wieś
1,306917,14,26,5,5,684607,Rogóziec,Wieś
2,306918,12,10,14,2,460196,Rąbacz,Część
3,306919,6,12,5,5,388240,Emilcin,Wieś
4,306920,22,8,3,2,741765,Trzemesznia,Część
5,306921,4,15,1,1,983132,Chełmińskie,Część Miasta
6,306922,14,5,5,2,1054989,Stare budy drugie,Część
7,306923,26,1,5,2,271472,Sznury,Część
8,306924,18,11,9,2,664958,Biedaczów,Część
9,306925,24,67,1,1,940312,Szotkowice,Część Miasta

In [3]:
df_terc.head(10)

,Id,VoivodeshipNumber,CountyNumber,CommunityNumber,KindNumber,Name,AdditionalName
0,4265,26,6.0,5.0,5.0,Ożarów,Obszar wiejski
1,4266,12,7.0,NaN,NaN,Limanowski,Powiat
2,4267,12,17.0,2.0,2.0,Biały dunajec,Gmina wiejska
3,4268,24,7.0,1.0,1.0,Lubliniec,Gmina miejska
4,4269,26,6.0,NaN,NaN,Opatowski,Powiat
5,4270,22,11.0,7.0,2.0,Puck,Gmina wiejska
6,4271,32,6.0,9.0,2.0,Widuchowa,Gmina wiejska
7,4272,14,24.0,NaN,NaN,Pułtuski,Powiat
8,4273,28,7.0,NaN,NaN,Iławski,Powiat
9,4274,30,21.0,12.0,5.0,Pobiedziska,Obszar wiejski

In [4]:
df_ulic.head(10)

,Id,VoivodeshipNumber,CountyNumber,CommunityNumber,KindNumber,Sym,SymUl,Name,Feature
0,292970,24,6,4,2,138253,25133,Wyzwolenia,Ul.
1,292971,14,8,3,2,5701,20298,Słowicza,Ul.
2,292972,14,18,4,5,6356,4212,Droga dzików,Ul.
3,292973,24,7,7,2,142020,19830,Sienkiewicza,Ul.
4,292974,12,3,3,4,938982,60067,4 czerwca 1989 r.,Rondo
5,292975,2,65,1,1,1062782,2706,Józefa chełmońskiego,Ul.
6,292976,8,11,6,4,988490,23884,Wesoła,Ul.
7,292977,22,2,1,1,928854,26451,Żeliwna,Ul.
8,292978,14,34,5,2,508900,25452,Zakole,Ul.
9,292979,8,62,1,1,917402,47522,Łężyca-inwestycyjna,Ul.